<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- BOOTSTRAP CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!-- ICON DO SITE (E) -->
	<link rel="shortcut icon" th:href="@{/img/icon.jpg}" type="image/x-icon">

	<!-- ICON SITE REMIXICON -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

	<!-- GOOGLE ICON -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

	<!-- CSS EXTERNO -->
	<link rel="stylesheet" th:href="@{css/admin.css}">


	<title> Administrador | Equalizes </title>

</head>

<body>

	<header class="container-fluid">


		<img th:src="@{/img/logo_equalizes_white.png}" alt="logo" class="logo">


		<!-- INÍCIO MENU -->

		<aside>
			<div id="menu-opener" onclick="menuToggle()">
				<span class="material-symbols-outlined menuIcon">
					menu
				</span>
			</div>
			<div id="menu-area">
				<ul>

					<a href="">
						<li>

							<span class="material-symbols-outlined">
								home
							</span>

							INÍCIO

						</li>
					</a>

					<a href="/listarContatos">
						<li>

							<span class="material-symbols-outlined">
								contact_mail
							</span>
							SOLICITAÇÕES DE CONTATO

						</li>
					</a>


					<a href="">
						<li class="nav-item dropdown">


							<span class="material-symbols-outlined text-light">
								group_add
							</span>


							<a class="dropdown-toggle text-light" href="#" id="dropdownId" data-bs-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">SOLICITAÇÃO DE PARCERIA</a>
							<div class="dropdown-menu" aria-labelledby="dropdownId">
								<a class="dropdown-item text-center btn-hover" href="/listarEscolas">ESCOLAS</a>

								<hr class="dropdown-divider">

								<a class="dropdown-item text-center btn-hover" href="/listarEmpresas">EMPRESAS</a>

						</li>
					</a>

					<a href="">
						<li class="nav-item dropdown">

							<span class="material-symbols-outlined text-light">
								handshake
							</span>

							<a class="dropdown-toggle text-light" href="#" id="dropdownId" data-bs-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">PARCEIROS</a>
							<div class="dropdown-menu" aria-labelledby="dropdownId">
								<a class="dropdown-item text-center btn-hover"
									href="/listarEscolasAprovadas">ESCOLAS</a>

								<hr class="dropdown-divider">

								<a class="dropdown-item text-center btn-hover"
									href="/listarEmpresasAprovadas">EMPRESAS</a>

						</li>
					</a>


					<a href="/doacoes">
						<li>

							<span class="material-symbols-outlined">
								volunteer_activism
							</span>
							DOAÇÕES
						</li>
					</a>


					<a href="/">
						<li>

							<span class="material-symbols-outlined">
								logout
							</span>

							SAIR

						</li>
					</a>

				</ul>
			</div>
		</aside>

		<!-- FIM MENU -->


	</header>



	<!-- INÍCIO MENU -->


	<h1 id="titulo">Seja bem vindo(a), Administrador. </h1>


	<main class="container mt-5 mb-5">

		<div class="row p-0">

			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/listarEscolas">
					<span class="material-symbols-outlined">
						school
					</span>

					<span>ESCOLA</span>
					<span>- Solicitação de cadastro - </span>
				</a>
			</div>


			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/listarEmpresas">
					<span class="material-symbols-outlined">
						apartment
					</span>

					<span>EMPRESA</span>
					<span>- Solicitação de cadastro - </span>
				</a>
			</div>


			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/listarContatos">
					<span class="material-symbols-outlined">
						contact_mail
					</span>

					<span>CONTATO</span>
					<span>- Solicitação de contato - </span>
				</a>
			</div>

		</div>




		<div class="row p-0">

			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/listarEscolasAprovadas">
					<span class="material-symbols-outlined">
						school
					</span>

					<span>ESCOLA</span>
					<span>- Contas aprovadas - </span>
				</a>
			</div>


			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/listarEmpresasAprovadas">
					<span class="material-symbols-outlined">
						apartment
					</span>

					<span>EMPRESA</span>
					<span>- Contas aprovadas - </span>
				</a>
			</div>


			<div class="col-sm-4 mt-2 text-center card p-0">
				<a href="/doacoes">
					<span class="material-symbols-outlined">
						volunteer_activism
					</span>
					<span>DOAÇÕES</span>
					<span>- Acompanhar pedidos - </span>
				</a>
			</div>

		</div>


		<!-- GRÁFICOS -->
		<div class="row mt-5">

			<input th:object="${escolas}" th:value="*{id}" id="totalEscolas" hidden />
			<input th:object="${empresas}" th:value="*{id}" id="totalEmpresas" hidden />

			<!-- GRÁFICO PERFIS ATIVOS -->
			<div class="col-md-6">
				<div id="piechart"></div>
			</div>


			<input th:object="${pedidos}" th:value="*{id}" id="totalPedidos" hidden />
			<input th:object="${emAberto}" th:value="*{id}" id="totalEmAberto" hidden />
			<input th:object="${emAndamento}" th:value="*{id}" id="totalEmAndamento" hidden />
			<input th:object="${concluido}" th:value="*{id}" id="totalConcluido" hidden />

			<!-- TOTAL DE PEDIDOS  -->
			<!-- GRÁFICO PEDIDOS COM BASE NO STATUS-->
			<div class="col-md-6">
				<div id="piechartPedidos"></div>
			</div>



		</div>
		<!-- GRÁFICOS -->




	</main>

	<!-- FIM CONTATOS -->

	</div>


	<!-- ICON SCROLL TOP -->

	<i onclick="subirTela()" class="ri-arrow-up-s-line" id="icon-top"></i>

	<!-- ICON SCROLL TOP -->


	<!-- RODAPÉ -->

	<footer>

		<div class="row">

			<div class="col-12 text-center mt-4">

				<img th:src="@{/img/logo_equalizes_white.png}" alt="logo" class="logo">

			</div>

		</div>


		<div class="row">
			<div class="col-12">

				<p class="text-light text-center pt-4"> &copy 2022 - Equalizes - Squad 29 </p>

			</div>
		</div>

	</footer>

	<!-- FIM RODAPÉ -->


	<!-- JAVASCRIPT EXTERNO -->
	<script th:src="@{/js/all.js}"></script>

	<!-- BOOTSTRAP JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>


	<!-- GOOGLE CHARTS -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


	<!-- JAVASCRIPT EXTERNO -->
	<script th:src="@{/js/all.js}"></script>
	
	<!-- GRÁFICOS -->
	<script th:src="@{/js/graficos.js}"></script>


</body>

</html>